<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.studio.artaban.anaglyph3d"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <!-- See large heap memory need in 'ShiftActivity.applySimulation' method -->

        <activity
            android:name=".ChoiceActivity"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ConnectActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_connect"/>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/nav_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.studio.artaban.anaglyph3d.MainActivity"/>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <!-- Album -->
        <activity
            android:name=".album.VideoListActivity"
            android:label="@string/nav_album"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".album.VideoDetailActivity"
            android:parentActivityName=".album.VideoListActivity"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".album.VideoListActivity"/>
        </activity>

        <!-- Process -->
        <activity
            android:name=".process.ProcessActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".process.configure.CorrectionActivity"
            android:label="@string/title_activity_correction"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name=".process.configure.CroppingActivity"
            android:label="@string/title_activity_cropping"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name=".process.configure.SynchroActivity"
            android:label="@string/title_activity_synchro"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name=".process.configure.ShiftActivity"
            android:label="@string/title_activity_shift"
            android:theme="@style/Theme.AppCompat"/>

        <!-- Share to local folder activity -->
        <activity
            android:name=".album.ShareLocalActivity"
            android:icon="@mipmap/my_files"
            android:label="@string/my_files">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="video/*"/>
                <!-- Will be stored into 'Movies' folder -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="image/*"/>
                <!-- Will be stored into 'Pictures' folder -->
            </intent-filter>
        </activity>
    </application>

</manifest>
