<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studio.artaban.anaglyph3d">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <supports-screens
        android:smallScreens="false"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <!--
        <activity
            android:name=".ConnectActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/nav_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.studio.artaban.anaglyph3d.MainActivity" />
        </activity>
        <activity
            android:name=".album.VideoListActivity"
            android:label="@string/nav_album"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".album.VideoDetailActivity"
            android:label="@string/title_video_detail"
            android:parentActivityName=".album.VideoListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".album.VideoListActivity" />
        </activity>
        <activity
            android:name=".process.ProcessActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".process.configure.ContrastActivity"
            android:label="@string/title_activity_contrast"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name=".process.configure.SynchroActivity"
            android:label="@string/title_activity_synchro"
            android:theme="@style/Theme.AppCompat">



            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>



        </activity>
    </application>

</manifest>
